/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .flashbox{height: 50px; text-align: left;}

 .alert-success {
    color: #fff;
    background-color: green;
    border-color: green;
}

.alert-info {
    color: #E9EDEF;
    background-color: rgba(52, 152, 219, .88);
    border-color: rgba(52, 152, 219, .88);
}

.alert-warning {
    color: #E9EDEF;
    background-color: rgba(243, 156, 18, .88);
    border-color: rgba(243, 156, 18, .88);
}

.alert-danger,
.alert-error {
    color: #E9EDEF;
    background-color:#da2b2b;
    border-color: #da2b2b;
}

